* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    
} 

h1 {
    color: #4E3524;
}

a {
    padding: 2px;
    text-decoration: none;
    color: #4E3524;
    border: 2px solid #4E3524;
    border-radius: 5px;
}

a:hover {
    background-color: #4E3524;
    color: #ad885c;

}

body {
    min-height: 100vh;
    background-color: #e1be86;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ad885c;
    padding:10px;
    font-family: 'Roboto';
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px;

}

h2 {
    align-self: center;
    padding: 10px;
}

.link-btns {
    padding: 0 10% 10px 0;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
    
}

button {
    width: 30%;
    background-size: cover;
    border: 3px solid #EFE0BB;
    border-radius: 5px;
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e1be86;
}

.intro-text {
    padding: 10px;
}

#giza-btn {
    background-image: url(img/giza-img.jpg);
}

#wallofchina-btn {
    background-image: url(img/greatwall-img.webp);
}

#petra-btn {
    background-image: url(img/petra-img.webp);
}

#colosseum-btn {
    background-image: url(img/colosseum-img.webp);
}

#chichenitza-btn {
    background-image: url(img/chichen-img.webp);
}

#machupicchu-btn {
    background-image: url(img/machupicchu-img.webp);
}

#tajmahal-btn {
    background-image: url(img/tajmahal-img.webp);
}

#christtheredeemer-btn {
    background-image: url(img/christtheredeemer-img.webp);
}

.grow {
    transition: all .1s ease-in-out;
}
.grow:hover {
    transform: scale(1.02);
}

img {
    max-width: 500px;
    align-self: center;
    margin-top: 20px;

    border: 7px solid #EFE0BB;
    border-radius: 5px;
}
